<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>{{ isEditing ? 'Edit Product' : 'Add Product' }}</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter name">
          <div *ngIf="hasError('name', 'required')" class="text-danger">*Name is required</div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea formControlName="description" class="form-control" id="description" rows="4"
            placeholder="Enter description"></textarea>
          <div *ngIf="hasError('description', 'required')" class="text-danger">*Description is required</div>
        </div>
        <div class="form-group">
          <label for="imageUrl"> Upload Image</label>
          <input type="file" formControlName="image" accept="image/jpeg,image/jpg,image/png,image/jfif"
            class="custom-file-input" id="imageUrl" (change)="onFileChange($event)">
          <div *ngIf="hasError('image', 'required')" class="text-danger">*Image is required</div>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" formControlName="price" class="form-control" id="price" placeholder="Enter price">
          <div *ngIf="hasError('price', 'required')" class="text-danger">*Price is required</div>
          <div *ngIf="hasError('price', 'min')" class="text-danger">*Price must be a positive number</div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select formControlName="category" class="form-control" id="category">
            <option value="">All Categories</option>
            <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
          </select>
          <div *ngIf="hasError('category', 'required')" class="text-danger">*Category is required</div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          {{ isEditing ? 'Update Product' : 'Add Product' }}
        </button>
      </form>
    </div>
  </div>
</div>