<div class="container product-details mt-5" *ngIf="product">
    <div class="row">
        <div class="col-md-6">
            <img [src]="getSafeUrl(product.imageUrl)" alt="{{ product.name }}" class="product-image">
        </div>
        <div class="col-md-6">
            <div class="product-info">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <p class="price">{{ product.price | currency:'INR' }}</p>
                <div class="action-buttons">
                    <button (click)="addToCart(product)">Add to Cart</button>
                    <button (click)="buyNow(product)">Buy Now</button>
                </div>
                <div class="icon-wrapper">
                    <i class="fas fa-heart" (click)="addToWishlist(product)"></i>
                    <i class="fas fa-share-alt" (click)="shareProduct(product)"></i>
                </div>
            </div>
        </div>
    </div>
</div>