$primary-color: #55ad9b;
$success-color: #95d2b3;
$white-color: #ffffff;

.container-fluid {
  margin-top: 2rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
    i {
      color: $primary-color;
    }
  }

  .card {
    height: 100%;
    .thead {
      background-color: #95d2b3;
    }
    .card-body {
      display: flex;
      align-items: center;
      color: $white-color;

      .me-3 {
        margin-right: 1rem;
      }

      .card-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }

      .display-5 {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
      }
    }

    &.product-table {
      background-color: $primary-color;

      table {
        width: 100%;
        margin-top: 1rem;
        color: $white-color;

        thead {
          th {
            color: $white-color;
            font-size: 1rem;
            border-bottom: 2px solid $white-color;
          }
        }

        tbody {
          tr {
            &:nth-child(odd) {
              background-color: rgba(255, 255, 255, 0.1);
            }

            td {
              color: $white-color;
              font-size: 0.875rem;
              padding: 0.75rem;
              border-top: 1px solid $white-color;
            }
          }
        }
      }
    }
    &.category-table {
      background-color: $success-color;

      table {
        width: 100%;
        margin-top: 1rem;
        color: $white-color;

        thead {
          th {
            color: $white-color;
            font-size: 1rem;
            border-bottom: 2px solid $white-color;
          }
        }

        tbody {
          tr {
            &:nth-child(odd) {
              background-color: rgba(255, 255, 255, 0.1);
            }

            td {
              color: $white-color;
              font-size: 0.875rem;
              padding: 0.75rem;
              border-top: 1px solid $white-color;
            }
          }
        }
      }
    }
  }

  .user {
    background-color: $primary-color;
  }

  .event {
    background-color: $success-color;
  }
}
