.navbar-brand {
    font-weight: bold;
    color: white;


  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: white;
  }
  
  .navbar-nav .dropdown-menu {
    min-width: 200px;
  }
  
  .navbar-nav .dropdown-item {
    font-size: 1rem;
  }
  